.header__nav__ul__li,
.header__nav__ul li {
  padding: 10px;
  text-align: center;
  color: var(--conrad-blue);
  position: relative;
  display: inherit;
  align-items: center;
}

.header__nav__ul__li a,
.header__nav__ul li a {
  color: var(--conrad-blue);
  text-decoration: none;
  display: block;
  width: 100%;
}

.multilevel-linkul-0 {
  display: none;
}
